.header {
  border-bottom: 1px solid map-get($colors, 'border-button');

  &__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
  }

  &__li {
    color: map-get($colors, 'nav-list');
    font-weight: 500;
    display: flex;
    gap: 5px;
    @include hover-focus();
    &--team {
      &::before {
        content: '';
        height: 4px;
        width: 66px;
        top: 76px;
        border-radius: 2px;
        background: map-get($colors, 'primary');
        display: flex;
        position: absolute;
      }
      &--contac {
        color: map-get($colors, 'primary');
        font-weight: 500;
        display: flex;
        align-content: center;
        gap: 8px;
      }
    }
  }
  &__logo {
    color: map-get($colors, 'primary');
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15;
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  &__ul {
    font-size: 14px;
    line-height: 1.1;
    display: flex;
    gap: 30px;
  }
}
