.image {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  &__pic {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 100px;
  }
  &__picture {
    position: relative;
    border: 1px solid rgba($blancoA3, 1);
    flex-basis: calc((100% - 60px) / 3);
    cursor: pointer;
    @include picture();

    &--card {
      display: flex;
      padding-top: 20px;
      padding-left: 24px;
    }
    &--card1 {
      display: flex;
      padding-top: 4px;
      padding-left: 24px;
      padding-bottom: 20px;
    }
    &--p {
      position: absolute;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.03em;
      text-align: left;
      color: map-get($colors, 'foot');
      padding: 63px 24px;
    }
    &--text {
      position: absolute;
      display: flex;
      flex-direction: column;
      bottom: 25%;
      left: 0;
      background: rgba($azul, 0.9);
      width: 100%;
      height: 0;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      overflow: hidden;
    }
    @include tex();
  }
}
