body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 14px;
  line-height: 1;
  overflow-x: hidden;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

input,
textarea,
svg {
  outline: none;
}

textarea {
  resize: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*::after,
*::before {
  box-sizing: inherit;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
}

.main__center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

p {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
}

h1 {
  color: #ffffff;
  font-size: 44px;
  font-weight: 900;
  text-align: center;
}

h2 {
  font-size: 36px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  padding-bottom: 50px;
}

h3 {
  color: #212121;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  text-align: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

svg {
  fill: currentColor;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
}
.header__li {
  color: #212121;
  font-weight: 500;
  display: flex;
  gap: 5px;
}
.header__li:hover, .header__li:focus {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.header__li--team::before {
  content: "";
  height: 4px;
  width: 66px;
  top: 76px;
  border-radius: 2px;
  background: #2196f3;
  display: flex;
  position: absolute;
}
.header__li--team--contac {
  color: #2196f3;
  font-weight: 500;
  display: flex;
  align-content: center;
  gap: 8px;
}
.header__logo {
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__ul {
  font-size: 14px;
  line-height: 1.1;
  display: flex;
  gap: 30px;
}

.main__button {
  background-color: #2196f3;
  font-size: 16px;
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
  border: 1px solid #2196f3;
  border-radius: 4px;
  color: #f5f4fa;
  padding: 10px 32px;
  cursor: pointer;
}
.main__button:hover .main__button:focus {
  color: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main__div {
  background-image: url(../images/portada.jpg);
}
.main__gallery {
  background: #f5f4fa;
  padding: 150px;
}
.main__icon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 16px 32px;
}
.main__icon--li {
  border-radius: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-weight: 400;
  color: #757575;
  background-color: #ffffff;
}
.main__icon--li:hover {
  background-color: #2196f3;
  color: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main__icon svg {
  width: 20px;
  fill: currentColor;
  margin-top: 11px;
  margin-left: 9.5px;
}
.main__img {
  display: flex;
  justify-content: space-around;
}
.main__item {
  background-color: rgba(47, 48, 58, 0.4);
  font-size: 44px;
  line-height: 1.36;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.main__li {
  position: relative;
  width: 360px;
  height: 320px;
}
.main__li--p {
  position: absolute;
  color: #f5f4fa;
  width: 359px;
  height: 70px;
  padding: 20px;
  left: 0;
  top: 242px;
  background: rgba(47, 48, 58, 0.8);
}
.main__list {
  background-color: #ffffff;
  width: 270px;
  padding-bottom: 30px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.main__rect {
  height: 120px;
  width: 270px;
  border-radius: 4px;
  background: #f4f5fa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 30px;
  padding-top: 95px;
  padding-bottom: 90px;
}

.section {
  padding: 100px;
  padding-left: 15px;
}
.section__ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  color: #757575;
  width: 100%;
}
.section__li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #757575;
  border: 1px solid #afb1b8;
  height: 81px;
  width: 170px;
  left: 215px;
  top: 2447px;
  border-radius: 4px;
}
.section__li:hover {
  color: #2196f3;
  border: 1px solid #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot {
  position: relative;
  background-color: #2f303a;
  font-size: 14px;
  line-height: 1.7;
  padding: 50px 0px;
}
.foot__container {
  color: #757575;
  font-weight: 400;
  margin-left: 15%;
}
.foot__item {
  color: #ffffff;
  font-weight: 400;
}
.foot__item:hover, .foot__item:focus {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.foot__item--a:hover, .foot__item--a:focus {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.foot__ul {
  font-style: normal;
}

.footer {
  position: absolute;
  padding-left: 300px;
  top: 50px;
}
.footer__icon {
  position: absolute;
  color: #ffffff;
  font-size: 14px;
  display: flex;
  padding: 10px;
}
.footer__redes {
  border-radius: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-weight: 400;
  background: rgba(255, 255, 255, 0.14);
  margin-right: 20px;
}
.footer__redes:hover {
  background-color: #2196f3;
  color: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__ul {
  position: relative;
  top: 50px;
  display: flex;
  align-items: center;
}
.footer__ul svg {
  width: 100px;
  fill: #ffffff;
  width: 20px;
  height: 20px;
  margin-top: 11px;
  margin-left: 9.5px;
}

.end {
  position: absolute;
  top: 50px;
  left: 0;
  line-height: 1.7;
}
.end__form {
  position: absolute;
  height: 50px;
  width: 358px;
  left: 0;
  top: 40px;
  padding-left: 16px;
  border-radius: 4px;
  background-color: var(--fondo);
  color: var(--foot);
}
.end__input:-moz-placeholder-shown {
  position: absolute;
  height: 50px;
  width: 358px;
  left: 870px;
  padding-left: 16px;
  border-radius: 4px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -moz-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.end__input:placeholder-shown {
  position: absolute;
  height: 50px;
  width: 358px;
  left: 870px;
  padding-left: 16px;
  border-radius: 4px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.end__send {
  position: absolute;
  height: 50px;
  width: 200px;
  left: 1250px;
  top: 0px;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  border: 1px solid #2196f3;
  cursor: pointer;
}
.end__suscrib {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
  align-items: center;
}
.end__title {
  position: absolute;
  height: 16px;
  width: 275px;
  left: 870px;
  top: 0;
  border-radius: nullpx;
  color: #f5f4fa;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}

.div__backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: flex;
  opacity: 1;
  visibility: visible;
  background: rgba(0, 0, 0, 0.2);
  transition: 250ms;
  z-index: 1;
}
.div__closet {
  position: absolute;
  border-radius: 50px;
  color: transparent;
  height: 30px;
  width: 30px;
  left: 490px;
  top: 9px;
  z-index: 1;
  color: #2196f3;
  border: rgba(0, 0, 0, 0.1);
}
.div__contact {
  position: absolute;
  height: 23px;
  width: 448px;
  left: 40px;
  top: 40px;
  border-radius: nullpx;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
}
.div__modal {
  position: relative;
  height: 581px;
  width: 528px;
  left: 50%;
  top: 50%;
  border-radius: 4px;
  background: #ffffff;
  transform: translate(-50%, -50%) scale(0.9);
  padding: 40px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.form__check {
  position: absolute;
  left: 50px;
  right: 62.25%;
  top: 433px;
  bottom: 33.79%;
  height: 15px;
  width: 16px;
  border-radius: 0px;
  color: #2196f3;
}
.form__check:checked {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.form__checkbox {
  position: absolute;
  width: 400.62px;
  height: 24px;
  left: 76px;
  top: 428px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}
.form__comentary {
  position: absolute;
  width: 70px;
  height: 14px;
  left: 40px;
  top: 270px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}
.form__comentary--textarea {
  position: absolute;
  left: 40px;
  top: 289px;
  padding-left: 40px;
  background: #ffffff;
  border-radius: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(51, 51, 51, 0.2);
}
.form__comentary--textarea:hover, .form__comentary--textarea:focus {
  border: 1px solid #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.form__email {
  position: absolute;
  width: 41px;
  height: 14px;
  left: 40px;
  top: 205px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}
.form__email--input {
  position: absolute;
  width: 448px;
  height: 40px;
  left: 0px;
  top: 18px;
  padding-left: 40px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 4px;
}
.form__email--input:hover, .form__email--input:focus {
  border: 1px solid #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.form__email--mail {
  position: absolute;
  left: 15px;
  top: 32px;
  z-index: 1;
  fill: #212121;
}
.form__email--input:hover + .form__email--mail, .form__email--input:focus + .form__email--mail {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__name {
  position: absolute;
  width: 44px;
  height: 14px;
  left: 40px;
  top: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}
.form__name--input {
  position: absolute;
  width: 448px;
  height: 40px;
  left: 0;
  top: 18px;
  padding-left: 40px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 4px;
  cursor: pointer;
}
.form__name--input:hover, .form__name--input:focus {
  border: 1px solid #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.form__name--usuary {
  position: absolute;
  left: 15px;
  top: 32px;
  z-index: 1;
  cursor: pointer;
}
.form__name--input:hover + .form__name--usuary, .form__name--input:focus + .form__name--usuary {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__send {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 150px;
  top: 480px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid #2196f3;
  color: #ffffff;
  cursor: pointer;
}
.form__tel {
  position: absolute;
  width: 58px;
  height: 14px;
  left: 40px;
  top: 138px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}
.form__tel--contact {
  position: absolute;
  left: 15px;
  top: 32px;
  z-index: 1;
  fill: #212121;
}
.form__tel--input {
  position: absolute;
  width: 448px;
  height: 40px;
  left: 0;
  top: 18px;
  padding-left: 40px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 4px;
}
.form__tel--input:hover, .form__tel--input:focus {
  border: 1px solid #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.form__tel--input:hover + .form__tel--contact, .form__tel--imput:focus + .form__tel--contact {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu {
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.menu__btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.menu__btn--item {
  color: #212121;
  font-weight: 400;
  cursor: pointer;
  font-size: 16px;
  background-color: #f5f4fa;
  border: #f5f4fa;
  padding: 6px 24px;
  border-radius: 4px;
}
.menu__btn--item:hover {
  background-color: #2196f3;
  color: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.image__pic {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 100px;
}
.image__picture {
  position: relative;
  border: 1px solid #eeeeee;
  flex-basis: calc((100% - 60px) / 3);
  cursor: pointer;
}
.image__picture:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.image__picture--card {
  display: flex;
  padding-top: 20px;
  padding-left: 24px;
}
.image__picture--card1 {
  display: flex;
  padding-top: 4px;
  padding-left: 24px;
  padding-bottom: 20px;
}
.image__picture--p {
  position: absolute;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
  padding: 63px 24px;
}
.image__picture--text {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 25%;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
.image__picture:hover .image__picture--text {
  height: 75%;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-toggle svg:hover {
  fill: #2196f3;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #ffffff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #212121;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #212121;
  text-decoration: none;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-align: left;
}

.mobile-menu .link:hover {
  color: #2196f3;
}

.mobile-list {
  display: flex;
  flex-direction: column-reverse;
  gap: 3px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: left;
  padding-left: 32px;
  padding-top: 400px;
}

.header__li--contac:hover {
  color: #2196f3;
}

.mobile-redes {
  display: flex;
  gap: 20px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: left;
  padding-top: 40px;
  padding-left: 32px;
  color: #2196f3;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main__div {
    position: absolute;
    width: 2000px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: rgba(47, 48, 58, 0.4);
    background-size: 100% 100%;
    background-image: url(../images/portada-w@2x.jpg);
  }
  .main__item {
    position: absolute;
    width: 2000px;
    height: 600px;
    background-color: rgba(47, 48, 58, 0.4);
    font-family: Roboto;
    font-size: 26px;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 0.06em;
    text-align: center;
    gap: 40px;
  }
  .main__item h1 {
    position: absolute;
    width: 896px;
    height: 120px;
    left: 452px;
    top: 230px;
    font-size: 44px;
  }
  .main__button {
    position: absolute;
    left: 780px;
    top: 360px;
  }
  .main__center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 652px;
  }
  .main__list {
    min-width: 270px;
  }
}
@media (max-width: 780px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .header__li {
    display: none;
  }
  .menu {
    display: none;
  }
  .main__div {
    position: absolute;
    width: 768px;
    height: 400px;
    left: 0px;
    top: 80px;
    background: rgba(47, 48, 58, 0.4);
    background-size: 100% 100%;
    background-image: url(../images/portada@2x.jpg);
  }
  .main__item {
    position: absolute;
    width: 768px;
    height: 400px;
    background-color: rgba(47, 48, 58, 0.4);
    font-family: Roboto;
    font-size: 26px;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 0.06em;
    text-align: center;
    gap: 40px;
  }
  .main__item h1 {
    position: absolute;
    top: 118px;
    left: 150px;
    font-size: 26px;
  }
  .main__button {
    position: absolute;
    top: 242px;
    left: 230px;
  }
  .main__ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    width: 100%;
    margin-top: 360px;
  }
  .main__container {
    display: none;
  }
  .main__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
  }
  .main__rect {
    width: 100%;
  }
  .main__img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
  }
  .main__list {
    min-width: 354px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .image__pic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
  }
  .image__picture--text {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    bottom: 25%;
    background: rgba(33, 150, 243, 0.9);
    gap: 10px;
    width: 100%;
    height: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
  }
  .image__picture img {
    min-width: 350px;
  }
  .section__ul {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 15px;
  }
  .section__li {
    width: 90%;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .foot {
    position: absolute;
    width: 768px;
    height: 464px;
    left: 0px;
    top: 3050px;
    background: #2f303a;
  }
  .foot__ul {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .footer__icon {
    position: absolute;
    left: 390px;
    top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .footer__ul {
    position: absolute;
    left: 435px;
    display: flex;
    margin-top: 15px;
    width: 100%;
  }
  .end__title {
    position: absolute;
    top: 230px;
    left: 220px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .end__send {
    position: absolute;
    left: 250px;
    width: 200px;
    height: 50px;
    top: 300px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  .end__input:-moz-placeholder-shown {
    position: absolute;
    height: 50px;
    width: 358px;
    left: 175px;
    top: 230px;
    padding-left: 16px;
    border-radius: 4px;
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    -moz-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .end__input:placeholder-shown {
    position: absolute;
    height: 50px;
    width: 358px;
    left: 175px;
    top: 230px;
    padding-left: 16px;
    border-radius: 4px;
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main__div {
    background-image: url(../images/portada@2x.jpg);
  }
}
@media (max-width: 480px) {
  .header__li {
    display: none;
  }
  .main__div {
    position: absolute;
    width: 480px;
    height: 400px;
    left: 0px;
    top: 60px;
    background: rgba(47, 48, 58, 0.4);
    background-size: 100% 100%;
    background-image: url(../images/portada@2x.jpg);
  }
  .main__item {
    position: absolute;
    width: 480px;
    height: 400px;
    background-color: rgba(47, 48, 58, 0.4);
    font-family: Roboto;
    font-size: 26px;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 0.06em;
    gap: 40px;
  }
  .main__item h1 {
    position: absolute;
    top: 118px;
    left: 32px;
    font-size: 26px;
  }
  .main__button {
    position: absolute;
    top: 242px;
    left: 102px;
  }
  .div__contact {
    position: absolute;
    height: 23px;
    width: 320px;
    left: 40px;
    top: 20px;
  }
  .div__closet {
    position: absolute;
    top: 10px;
    z-index: 1;
  }
  .form__name--input {
    position: absolute;
    width: 360px;
  }
  .form__tel--input {
    position: absolute;
    width: 360px;
  }
  .form__email--input {
    position: absolute;
    width: 360px;
  }
  .form__comentary--textarea {
    position: absolute;
    width: 360px;
  }
  .form__checkbox {
    position: absolute;
    width: 310px;
  }
  .form__send {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 100px;
    top: 490px;
  }
  .main__ul {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 60px 15px;
    margin-top: 310px;
  }
  .main__rect {
    width: 100%;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .main__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 14px;
  }
  .main__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 30px;
    padding-top: 95px;
    padding-bottom: 90px;
    align-items: center;
    align-content: center;
  }
  .main__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 32px;
    min-width: 450px;
  }
  .section__ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .section__li {
    width: 100%;
    margin-left: 36px;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .main__container {
    display: none;
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu__btn {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    width: 100%;
  }
  .image__pic {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .image__picture {
    position: relative;
    border: 1px solid #eeeeee;
    flex-basis: calc((10% - 60px) / 1);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
  }
  .image__picture:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .image__picture--text {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 25%;
    left: 0;
    background: rgba(33, 150, 243, 0.9);
    gap: 10px;
    width: 100%;
    height: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
  }
  .image__picture img {
    min-width: 450px;
  }
  .foot {
    position: absolute;
    width: 480px;
    height: 604px;
    left: 0;
    top: 4654px;
    background: #2f303a;
  }
  .foot__ul {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .footer__icon {
    position: absolute;
    left: 70px;
    top: 197px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .footer__ul {
    position: absolute;
    left: 107px;
    display: flex;
    margin-top: 200px;
    width: 100%;
  }
  .end__title {
    position: absolute;
    top: 340px;
    left: 106px;
    height: 16px;
    width: 229px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .end__send {
    position: absolute;
    left: 120px;
    width: 200px;
    height: 50px;
    top: 405px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  .end__input:-moz-placeholder-shown {
    position: absolute;
    height: 50px;
    width: 425px;
    left: 15px;
    top: 340px;
    padding-left: 16px;
    border-radius: 4px;
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    -moz-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .end__input:placeholder-shown {
    position: absolute;
    height: 50px;
    width: 425px;
    left: 15px;
    top: 340px;
    padding-left: 16px;
    border-radius: 4px;
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}/*# sourceMappingURL=main.css.map */