$colors: (
  'primary': #2196f3,
  'nav-list': #212121,
  'list-contac': #757575,
  'fondo': #2f303a,
  'foot': #ffffff,
  'fondo2': #f5f4fa,
  'border-button': #ececec,
);
$sombra1: (
  'modal': 0px 2px 1px 0px #00000033,
  'modal1': 0px 1px 1px 0px #00000024,
  'modal2': 0px 1px 1px 0px #00000024,
  'list': 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
  'list1': 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  'list2': 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
);
$negro: #000;
$negro1: #333333;
$negro2: #2f303a;
$blancoA: #ffffff;
$blancoA1: #f4f5fa;
$blancoA2: #afb1b8;
$blancoA3: #eeeeee;
$azul: #2196f3;
